<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VFileManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <VFileManager.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value>V0.91</value>
            </setting>
            <setting name="AppWidth" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="AppHeight" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="MaxLevelDefault" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DirListAreaLine" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FileListAreaLine" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="InfoAreaLine" serializeAs="String">
                <value>31</value>
            </setting>
            <setting name="CommandInfoAreaLine" serializeAs="String">
                <value>36</value>
            </setting>
            <setting name="CommandAreaLine" serializeAs="String">
                <value>38</value>
            </setting>
        </VFileManager.Properties.Settings>
    </applicationSettings>
</configuration>